@import url("https://fonts.googleapis.com/css?family=Archivo+Black|Pacifico&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.centered-text {
  text-align: center;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #38ada9;
}

hr {
  width: 90%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-family: Archivo Black;
  background: linear-gradient(#38ada9, #257471, #133a38);
  background-attachment: fixed;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
body h1 {
  font-size: 4vmax;
}
body h2 {
  font-size: 2.25vmax;
}
body .sub-heading {
  font-family: Pacifico;
}
body .history {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  top: 0;
  background: linear-gradient(#66a3ff, #005ce6, #000a1a);
  background-attachment: fixed;
  box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.5);
  transition: all 250ms ease-in-out;
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
  overflow: scroll;
}
body .history .card {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 2px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.75);
}
body .history .card-row {
  width: 95%;
  height: 4vmax;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
body .fa {
  font-size: 30px;
  font-weight: 400;
  padding: 15px;
  background: goldenrod;
  position: fixed;
  right: 10px;
  bottom: 10px;
  border-radius: 50%;
  box-shadow: -5px 5px 8px rgba(0, 0, 0, 0.5);
}
body .app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
}
body .app .container {
  max-width: 660px;
  height: 75vh;
}
body .app form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}
body .app form .form-elements {
  padding: 2.75vmin;
  margin: 5px 0;
  width: 80vw;
  font-size: 2.25vmax;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  background: none;
  max-width: 660px;
  color: white;
}
body .app form .form-elements::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.65);
}
body .app form .form-elements:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.65);
}
body .app form .form-elements::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.65);
}
body .app form .form-elements::placeholder {
  color: rgba(255, 255, 255, 0.65);
}
body .app form .form-elements::-webkit-input-placeholder:active {
  border: 4px solid blue;
}
body .app form .form-elements:-ms-input-placeholder:active {
  border: 4px solid blue;
}
body .app form .form-elements::-ms-input-placeholder:active {
  border: 4px solid blue;
}
body .app form .form-elements::placeholder:active {
  border: 4px solid blue;
}
body .app form .button {
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: bold;
  padding: 3vmin;
  background: rgba(255, 255, 255, 0.5);
}
body .app form .button:active {
  background: rgba(255, 255, 255, 0.25);
}

@media only screen and (min-width: 600px) {
  body .history .card {
    width: 60%;
  }
  body .app .container form .form-elements {
    padding: 1.75vmin;
    width: 60vw;
  }
  body .app .container form .button {
    padding: 1.75vmin;
  }
}
